/* Typography */

h1, 
h2, 
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #F64C3F;
    line-height: 120%;
    max-width: 600px;
}

h1 {font-size: 55px; padding-bottom: 20px;}
h2 {font-size: 40px; padding-bottom: 20px;}
h3 {font-size: 30px;}
h4 {font-size: 17px;}

p {font-family: 'Inconsolata';
    color: #F64C3F;
    line-height: 150%;
    font-size: 18px;
    }

ul {-webkit-padding-start: 0px;} 


li {
    color: #F64C3F;
    font-size: 18px;
    line-height: 200%;
    font-family: 'Inconsolata';
    list-style-type: none;
    background-color: #ffffff;
} 

ol span {
    color: #FFFFFF;
    background-color: #F64C3F;
}



/* Buttons */

button {
    background-color: #F64C3F;
    color: #ffffff;
    height: 44px; 
    border: 3px solid white;
    border-radius: 0px;
    font-family: 'Inconsolata';
    font-size: 17px;
    padding: 6px 20px 10px;
}


button a {
    color: #ffffff;
}

button a:hover {
    color: #ffffff;
}



button:hover {
    background-color: #ffffff;
    color: #F64C3F;
    border: 3px solid #F64C3F;}

.page-block-classes button {margin-top: 20px;}


/* Links */

a {
    color: #F64C3F;
    text-decoration: none;
    border-bottom: none;
    }

a:hover,
a:active {
    color: #383838;
    text-decoration: none;
    border-bottom: none;
    }


/* Content */

.container {
    background-color: #ffffff;
    max-width: 1020px; 
    margin: auto;
    }

.session0, 
.session1, 
.session2, 
.session3, 
.session4, 
.session5, 
.session6, 
.session7 {
    background-color: #ffffff;
    border-bottom: 2px #f2f2f2 solid;
    padding-top: 60px;
    padding-bottom: 60px;
    }



/* Class 2 */

 
.homework-video {
       display: block;
       position: relative;
       margin: auto;
       left: 7.5%;
       padding-top: 30px;
       padding-bottom: 30px;
       border-top: 2px #ffffff solid;
   }

.page-block, 
.page-block-classes  {
    position: relative;
    margin: auto;
    max-width: 700px;
    }   


.class-page-block  {
    position: relative;
    margin: auto;
    max-width: 700px;
    border-top: 2px #f2f2f2 solid;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.class-example {
    position: relative;
    margin: auto;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.tab1 p,
.tab2 p,
.tab3 p {
    position: relative;
    margin: auto;
    max-width: 700px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.class-example {background-color: #F64C3F}
.class-example p {color: #FFFFFF; line-height: 100%;}



.task a {color: #FFFFFF;}
.task a:hover {color: #383838;}


/* Events */

.events{ background-color: #ffffff; padding-bottom: 40px;}
.row {max-width: 1060px; margin: auto;}
.col-sm-4 {padding: 25px;}
p.title {text-align: center; padding-top: 50px;}



/* Nav */

body {padding-top: 70px;}

.theme-showcase 
.navbar .container {width: auto;}
.theme-showcase > p > .btn {margin: 5px 0;}
.navbar-inverse {
    background: #ffffff !important; 
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 10px;
}

.navbar-brand a {color: #212121;}
.navbar-branda:hover {color: #383838;}
.navbar-toggle:hover {color: #2383838;}

.navbar-inverse 
.navbar-nav>li>a {
    color: #F64C3F;
    left: 0px;
    text-shadow: none;
    text-decoration: none;
    }

.navbar-inverse 
.navbar-brand {
    color: #F64C3F;
    font-family: 'Poppins', sans-serif;
    text-shadow: none;
    }

.navbar-inverse 
.navbar-nav>li>a:hover {color: #383838;}

.navbar-fixed-bottom 
.navbar-collapse, 
.navbar-fixed-top 
.navbar-collapse button {
    margin-left: 40px;
}

.navbar-inverse 
.navbar-nav>.active>a, 
.navbar-inverse 
.navbar-nav>.open>a{
    background-image: none;
    box-shadow: none;
}

.navbar-inverse 
.navbar-nav>.open>a, 
.navbar-inverse 
.navbar-nav>.open>a:focus, 
.navbar-inverse 
.navbar-nav>.open>a:hover {
    background-color: #ffffff;
    color: #000000;
}


button.btn.btn-default {
    background-color: #F64C3F;
    color: #ffffff;
    height: 44px; 
    border: 3px solid white;
    border-radius: 0px;
    font-family: 'Inconsolata';
    font-size: 17px;
    padding: 6px 20px 10px;
    text-shadow: none;
    background-image: none;
    box-shadow: none;
}




/* Dropdown Menu */

.theme-dropdown 
.dropdown-menu {
    background-image: none;
    box-shadow: none;
    border: none;
    background-color: #ffffff;
    padding: 0px 25px 25px 0px;
    text-decoration: none;
    position: static;
    display: block;
    margin-bottom: 20px;
}

dropdown-menu ul li a{text-decoration: none;}

.navbar-inverse 
.navbar-brand:hover {color: #383838;}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {background: none;box-shadow: none;}


/* Brave Women */

.card {margin: 20px;}
.card-block {margin-bottom: 40px;}
.card-title {padding-bottom: 0px;}

.card-img-top {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    overflow: hidden;   
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
}

#pageintro {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

p#pageintro {margin-bottom: 100px;}



/* Footer */


footer p {color: #ffffff;}

footer h4 {color: #ffffff;}

footer a {color: #ffffff;}

.input {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 0px;
    border: 0px;
}

.input-group {
    display: inline-flex; 
    font-family: 'Inconsolata';
}

.form-control {
    height: 44px;
    border: none;
    border-radius: 0px;
    margin-right: 20px;
}


.socialicons {
    vertical-align: bottom;
    }
    
.socialicons a {color: #ffffff; margin-left: 20px;}
.socialicons a:hover {opacity: 50%;}


.footer {
    background-color: #F64C3F;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
}

.footerlinks {
    padding-top: 100px;

}

#events {padding-top: 80px}

#applycta {
    background-color: #F7F5F4;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
}

#applycta button {
    margin-top: 30px;
}



