.page-block {
    position: relative;
    margin: auto;
    max-width: 700px;
    }   

h1 {
	color: black;
    text-align: left;
    font-size: 40px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
	}

h2 {
    color: black;
    text-align: left;
    font-size: 30px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    }

h3 {
    color: black;
    text-align: left;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    }

h3 {
    color: black;
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    }


p   {
	color: black;
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
	}


ul li {
    color: black;
    text-align: left;
    font-size: 15px;
    line-height: 200%;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    }

a:link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 12px 17px 10px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:visited {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.4);
    color: #ffffff;
    padding: 12px 17px 10px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.8);
    color: #ffffff;
    padding: 12px 17px 10px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:active {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.8);
    color: #F64C3F;
    padding: 12px 17px 10px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


.session1, .session2, .session3, .session4 {
    }